<!-- <div class="container">
    <h1>{{isEditMode ? 'Edit User' : 'Create User'}}</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
  
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
  
      <button mat-raised-button color="primary" type="submit">{{isEditMode ? 'Update' : 'Create'}}</button>
      <button mat-button routerLink="/user-list">Cancel</button>
    </form>
  </div>
   -->


   <div class="container">
    <h1>{{isEditMode ? 'Edit User' : 'Create User'}}</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="userForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>
  
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        {{isEditMode ? 'Update' : 'Create'}}
      </button>
      <button mat-button routerLink="/user-list">Cancel</button>
    </form>
  </div>
  